body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    max-height: 90vh; /* 限制容器高度 */
    overflow: hidden; /* 隱藏溢出的內容 */
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
}
#current-time{
    position: absolute;
    top: 120px;left: 50px;
}

.buttons {
    margin: 2px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

#button-first button{
    /* background-color: #ffe6e6; */
    padding: 10px 10px;
}

.log, .notes {
    font-size: 18px;
    text-align: left;
}

.log {
    flex-grow: 1;
    overflow-y: auto; /* 允許垂直滾動 */
}
.notes textarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}
.note-controls {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.delete-btn {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}
